<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('header.ejs'); -%>
  <title>Games & Bets</title>
</head>
<body>
<div class="bodyres">
    <%- include('nav.ejs'); -%>

<h1>acerca</h1>

    <%- include('footer.ejs'); -%>

</div>
<%- include('scripts.ejs'); -%>
</body>

</html>