<footer class=" text-center text-lg-start mt-3 text-light bordert"  style="background-color: #1C2327;" >
    <div class="container p-2" >
      <div class="row justify-content-around">

        <div class="col-lg-4 col-md-12  mb-md-0 text-center ">
            <h5 class="text-uppercase">CONTACT US:</h5>
    
            <ul class="list-unstyled  ">
            
                
                    <p class="h6"><i class="far fa-envelope"></i> : <strong class="text-primary h6">support@abetskin.com</strong> </p>
                 

            </ul>
          </div>
        
        <div class="col-lg-5 col-md-12 mb-md-0 bordl ">
          <h5 class="text-uppercase">ABETSKIN</h5>
  
          © 2020 Copyright: 
          <a class="text-light" href="https://abetskin.com/">ABETSKIN.COM</a>
        </div>
        
      

        <div class="col-lg-3 col-md-6  mb-md-0 bordl ">
        
            <h5 class="text-uppercase ml-2">FOLLOW US :</h5>
            <ul class="list-unstyled mb-0  ">
        
                <div class="row justify-content-center ">
        
                    <div class="col-1 ml-3">
                        <p class="h4"> <a href="https://www.facebook.com/abetskin/" target="_blank" class="text-light"><i
                                    class="fab fa-facebook-square"></i></a></p>
                    </div>
                    <div class="col-1 ml-3">
                        <p class="h4"> <a href="#!" class="text-light"><i class="fab fa-twitter-square"></i></a></p>
                    </div>
                    <div class="col-1 ml-3">
                        <p class="h4"> <a href="https://www.youtube.com/channel/UC6cG_XqSFH-HknsdtVxh9pA?guided_help_flow=5" target="_blank"
                                class="text-light"><i class="fab fa-youtube-square"></i></a></p>
                    </div>
        
                    <div class="col-1 ml-3">
                        <p class="h4"> <a href="#!" class="text-light"> <i class="fab fa-steam-square"></i></a></p>
                    </div>
                </div>
        
        
        
        
            </ul>
        </div>
      
  
      </div>
    
    </div>

  </footer>
 