<footer class=" text-center text-lg-start mt-3 text-light bordert"  style="background-color: #1C2327;" >
    <div class="container p-2" >
      <div class="row justify-content-around">

        <div class="col-lg-4 col-md-12  mb-md-0 text-center ">
            <h5 class="text-uppercase">CONTACT US:</h5>
    
            <ul class="list-unstyled  ">
            
                
                    <p class="h6"><i class="far fa-envelope"></i> : <strong class="text-primary h6">support@abetskins.com</strong> </p>
                 

            </ul>
          </div>
        
        <div class="col-lg-5 col-md-12 mb-md-0 bordl ">
          <h5 class="text-uppercase">ABETSKINS</h5>
  
          © 2020 Copyright: 
          <a class="text-light" href="https://abetskins.com/">ABETSKINS.COM</a>
        </div>
        
      

        <div class="col-lg-3 col-md-6  mb-md-0 bordl ">
        
            <h5 class="text-uppercase ml-2">FOLLOW US :</h5>
            <ul class="list-unstyled mb-0  ">
        
                <div class="row justify-content-center ">
                  <a href="https://www.facebook.com/abetskins/" target="_blank" class="text-light ml-4">
                  
                    <img src="icon/facebook.svg" alt="" style="width: 23px;" class="img-fluid rounded mx-auto ">
                  </a>
                    
                                   
                    
                    
                   <a href="https://twitter.com/AbetSkins" class="text-light ml-4" target="_blank"> <img src="icon/twitter.svg" alt="" style="width: 23px;" class="img-fluid rounded mx-auto "></a>
                   
                    
                         <a href="https://chat.whatsapp.com/LRAz9FS1uSE7aMT9LrgW0S" target="_blank"
                                class="text-light ml-4"><img src="icon/whatsapp.svg" alt="" style="width: 23px;" class="img-fluid rounded mx-auto "></a>
                   
        
                         <a href="https://www.youtube.com/channel/UC6cG_XqSFH-HknsdtVxh9pA?guided_help_flow=5" class="text-light ml-4" target="_blank"><img src="icon/youtube.svg" alt="" style="width: 23px;" class="img-fluid rounded mx-auto "> </a>
                    
                </div>
        
        
        
        
            </ul>
        </div>
      
  
      </div>
    
    </div>

  </footer>
 