<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('header.ejs'); -%>
  <title>Abet Skin | Questions</title>
</head>
<body>
<div class="bodyres">
    <%- include('nav.ejs'); -%>
    <div class="col-12">
      <div class="row justify-content-around text-light">
        <div class="col-sm-3 color mt-2 bord" style="height: 500px; overflow-y: auto;">
          <a href="#q1" style="text-decoration:none"><div class="col-12 bg-dark bord4 platabord mt-3 qmouse text-light" style="height: 60px;">1. Sesión</div></a>
          <a href="#q2" style="text-decoration:none"><div class="col-12 bg-dark bord4 platabord mt-3 qmouse text-light" style="height: 60px;">2. Depositar</div></a>
          <a href="#q3" style="text-decoration:none"><div class="col-12 bg-dark bord4 platabord mt-3 qmouse text-light" style="height: 60px;">3. Apostar</div></a>
          <a href="#q4" style="text-decoration:none"><div class="col-12 bg-dark bord4 platabord mt-3 qmouse text-light" style="height: 60px;">4. Tus Apuestas</div></a>
          <a href="#q5" style="text-decoration:none"><div class="col-12 bg-dark bord4 platabord mt-3 qmouse text-light" style="height: 60px;">5. Retiro</div></a>
          <a href="#q6" style="text-decoration:none"><div class="col-12 bg-dark bord4 platabord mt-3 qmouse text-light" style="height: 60px;">6. Abet Skin</div></a>
    
        </div>
    
        <div class="col-sm-8 color mt-2 bord" style="height: 500px; overflow-y: auto;">
         
         
              <div class="col-12 bg-dark bord m-1 mt-3" style="height: 1730px;" id="q1">
                <h3 class="mt-3 hstile">1. Iniciar sesión</h3>
                <p class="platabord mt-3 pstile">Al lado derecho de la página podras ver el boton para iniciar sesión debes tener
                  previa mente una cuenta de steam para poder utilizar la página. (Fig-1) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-1</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p1.png);">
                  </div>
                </div>
          
                <h3 class="mt-3 hstile">1.1 Registrate con Steam </h3>
                <p class="platabord mt-3 pstile">Inicia sesión con tu cuenta de steam y pulsa el boton de Sign Up para iniciar
                  sesión en la página de ABETSKIN.COM recuerda que esta página no esta afiliada a Steam o Valve. (Fig-2)</p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-2</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p2.png);">
                  </div>
                </div>
          
                <h3 class="mt-3 hstile">1.2 Registro con exito </h3>
                <p class="platabord mt-3 pstile">Podras visualizar en la página que fue creado tu usuario con exito en
                  ABETSKIN.COM
                  (Fig-3)</p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-3</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p2-1.png);">
                  </div>
                </div>
              </div>
          
          
              <div class="col-12 bg-dark border border-secondary m-1 mt-3" style="height: 3580px;" id="q2">
                <h3 class="mt-3 hstile">2. Depositar</h3>
                <p class="platabord mt-3 pstile">Para poder apostar debes tener saldo en la página para poder depositar dirígete a
                  la pestaña de depositar. (Fig-4) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-4</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p3.png);">
                  </div>
                </div>
          
                <h3 class="mt-3 hstile">2.1 Inventario de Steam</h3>
                <p class="platabord mt-3 pstile">Te redirigira a la pagina de deposito podras ver todo tu inventario de steam,
                  tanto
                  como los precios de cada uno de tus articulos. <strong class="text-danger">NOTA:</strong> si tienes el Nombre promocional "<strong class="text-warning">ABETSKIN.COM</strong>" en tu perfil de
                  steam se te agregara un 3% mas a tus artículos que deposites. (Fig-5) </p> 
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-5</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p4.png);">
                  </div>
                </div>
          
                <h3 class="mt-3 hstile">2.2 Configura tu URL </h3>
                <p class="platabord mt-3 pstile">Selecciona tus artículos a depositar ,para configurar tu URL de intercambio da
                  click sobre "Configurar URL de intercambio" te aparecera una ventana emergente para agregar o actualizar URL de
                  intercambio. (Fig-6) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-6</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p5.png);">
                  </div>
                </div>
          
                <h3 class="mt-3 hstile">2.3 Agregar o Actualizar URL </h3>
                <p class="platabord mt-3 pstile">Ingresa tu URL de intercambio de steam para poder depositar en la página , si no
                  sabes donde se encuentra tu URL de stem da click sobre "URL" te llevar a steam donde se encuentra tu URL de
                  intercambio ingresale y da en el boton "Save" se agregara o actualizara tu URL. (Fig-7) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-7</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p6.png);">
                  </div>
                </div>
          
                <h3 class="mt-3 hstile">2.4 Boton depositar </h3>
                <p class="platabord mt-3 pstile">Una ves agregado el URL ya podras seleccionar todos los artículos para depositar
                  da click en el boton "Depositar" y inmediata mente la página te enviara una oferta de intercambio a tu cuenta de
                  steam con los artículos que escogiste para depositar no olvides tener el saldo necesario. 
                  
                  <strong class="text-danger">NOTA:</strong> el tiempo para aceptar oferta sera de 10 min. (Fig-8) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-8</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p7.png);">
                  </div>
                </div>
          
                <h3 class="mt-3 hstile">2.5 Oferta de Intercambio </h3>
                <p class="platabord mt-3 pstile">Los bots de ABETSKIN.COM crearan una oferta de intercambio con tus artículos
                  seleccionados para depositar acepta la oferta de intercambio inmediatamente podras ver tu saldo en la página
                  Nota: debes tener activado steam guard para poder intercambiar en la página. (Fig-9) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-9</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p8.png);">
                  </div>
                </div>
          
              </div>
          
          
              <div class="col-12 bg-dark bord m-1 mt-3" style="height: 1780px;" id="q3">
                <h3 class="mt-4 hstile">3. Apostar</h3>
                <p class="platabord mt-3 pstile">Para poder apostar dirigite al inicio de la página escoge la partida a la que
                  quieres apostar y da click. (Fig-10) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-10</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p9.png);">
                  </div>
                </div>
          
                <h3 class="mt-4 hstile">3.1 Cuotas</h3>
                <p class="platabord mt-3 pstile">Selecciona tu equipo al que apostaras añade las monedas que quieres apostar puedes ver las cuotas que paga por apostar.  
                 <strong class="text-danger">NOTA: </strong> las cuotas de las apuestas se realizan basado en el total de apuestas en la partida para que la comunidad escoja los porcentajes de ganancia de cada Equipo. (Fig-11) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-11</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p10.png);">
                  </div>
                </div>

                <h3 class="mt-4 hstile">3.2 Cofirmar apuesta</h3>
                <p class="platabord mt-3 pstile">Para confirmar la apuesta da click en el boton podras ver que se añade tu apuesta realizada a las de mas apuestas. <strong class="text-danger">NOTA:</strong> solo podras hacer una apuesta por partida. (Fig-12) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-12</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p11.png);">
                  </div>
                </div>

               
          
              </div>
          
              <div class="col-12 bg-dark border border-secondary m-1 mt-3" style="height: 2340px;" id="q4">
                <h3 class="mt-4 hstile">4. Ver tus apuestas</h3>
                <p class="platabord mt-3 pstile">Para ver tus apuestas seleciona la pestaña bets te llevar donde puedes visualizar tus apuestas. (Fig-13) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-13</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p12.png);">
                  </div>
                </div>

                <h3 class="mt-4 hstile">4.1 Apuestas activas</h3>
                <p class="platabord mt-3 pstile">La primera fila podras ver todas las apuestas que tienes activas y el profit que te da cada una de tus apuestas. (Fig-14) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-14</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p13.png);">
                  </div>
                </div>

                <h3 class="mt-4 hstile">4.1 Historial de apuestas</h3>
                <p class="platabord mt-3 pstile">La segunda fila podras ver todas las apuestas que has realizadas si has ganado la apuesta o perdido tambien si se la partida no se a jugado se cancelara y se retornada el saldo. (Fig-15) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-15</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p14.png);">
                  </div>
                </div>

                <h3 class="mt-4 hstile">4.2 Información de Perfil</h3>
                <p class="platabord mt-3 pstile">Podras ver la Información de tu perfi si tienes activo el URL  de intercambio de Steam, si tienes activo nombre promocional o si tienes tu código de referidos(proximamente). (Fig-16) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-16</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p15.png);">
                  </div>
                </div>


              </div>


              <div class="col-12 bg-dark bord m-1 mt-3" style="height: 2450px;" id="q5">
                <h3 class="mt-3 hstile">5. Retiro</h3>
                <p class="platabord mt-3 pstile">Dirigete a la pestaña de retirar te enlazara a la pagina para retirar articulos de la página. <strong class="text-danger">NOTA:</strong> para poder retirar debes tener apostado por lo menos el 50% de lo depositado, esta acción se toma para no insentivar solo  el uso del trade de ABETSKIN.COM (Fig-17) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-17</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p16.png);">
                  </div>
                </div>
          
              
          
                <h3 class="mt-3 hstile">5.1 Configura tu URL </h3>
                <p class="platabord mt-3 pstile">para configurar tu URL de intercambio da
                  click sobre "Configurar URL de intercambio" te aparecera una ventana emergente para agregar o actualizar URL de
                  intercambio. (Fig-18) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-18</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p17.png);">
                  </div>
                </div>
          
          
                <h3 class="mt-3 hstile">5.2 Boton retirar </h3>
                <p class="platabord mt-3 pstile">Una ves agregado el URL ya podras seleccionar todos los artículos para retirar
                  da click en el boton "Withdraw" y inmediata mente la página te enviara una oferta de intercambio a tu cuenta de
                  steam con los artículos que escogiste para retirar.
                  <strong class="text-danger">NOTA:</strong> todos los artículos de la página tienen trade instantaneo puedes retirar cuando quieras pero tienen un 3% a 5% mas de valor a retirar por el motivo de 7 dìas de restricción trade,el porcentaje depende de la demanda del articulo y su devaluo en los 7 días.</p>  
                  
                  
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-19</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p18.png);">
                  </div>
                </div>
          
                <h3 class="mt-3 hstile">5.3 Oferta de Intercambio </h3>
                <p class="platabord mt-3 pstile">Los bots de ABETSKIN.COM crearan una oferta de intercambio con tus artículos
                  seleccionados para retira acepta la oferta de intercambio y listo. 
                  <strong class="text-danger">NOTA :</strong> el tiempo para aceptar oferta sera de 10 min. (Fig-20)  </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-20</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p19.png);">
                  </div>
                </div>
          
              </div>
          
              <div class="col-12 bg-dark borde border-secondary m-1 mt-3" style="height: 2000px;" id="q6">
                <h3 class="mt-3 hstile">6. Jackpot Bet</h3>
                <p class="platabord mt-3 pstile">Una ves por semana la página de AbetSkin tendra una bet de jackpot la página pondra un 10% de cada apuesta de jackpot  para entregar a un afortunado usuario con un comienzo de $10.00, para paraticipar solo debes apostar en el Jackpot Bet  la página escogera un usuario aleatorio y se le entregara el total del Jackpot.(Fig-21) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-21</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p21.png);">
                  </div>
                </div>

                <h3 class="mt-3 hstile">6.1 Top User</h3>
                <p class="platabord mt-3 pstile">hay un apartado en la página principal para el Top User este apartado tambien cuenta con el ganador del Jackpot Bet  el top User se actualizara cada semana. (Fig-22) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-22</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p22.png);">
                  </div>
                </div>

                <h3 class="mt-3 hstile">6.1 Last Bet</h3>
                <p class="platabord mt-3 pstile">en el ultimo apartado de la página podras ver el listado de las ultimas partidas y sus resultado de cada enfrentamiento. (Fig-23) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-23</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p23.png);">
                  </div>
                </div>

                <h3 class="mt-3 hstile">6.1 Cerrar sesión </h3>
                <p class="platabord mt-3 pstile">en la pestaña de usuario podras ver un listado con opciones que tienes como sorteos que hace la página semanalmente , el blog de la página con curiosidades y actualizaciones de la misma , tus referidos (proximamente), el apartado de preguntas frecuentes y por ultimo el enlace para cerrar tu sesión. (Fig-24) </p>
                <div class="row justify-content-center mt-3 ">
                  <h5 class="text-info hstile">Figura-24</h5>
                  <div class=" imagenes3 border border-info" style="background-image: url(proceso/p20.png);">
                  </div>
                </div>




              </div>

          </div>
          
      </div>
    </div>

    <%- include('footer.ejs'); -%>

</div>
<%- include('scripts.ejs'); -%>
</body>

</html>